<div class="px-4 sm:px-6 md:px-8 lg:px-11 py-2 md:py-4 lg:py-6">
  <div class="container mx-auto max-w-[1200px]">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex-shrink-0 z-50 bg-gray-100">
        <button [routerLink]="['/']">
          <app-icon name="logo" size="logo"></app-icon>
        </button>
      </div>

      <!-- Desktop menu -->
      <nav class="hidden md:flex-1 md:flex md:justify-center">
        <div
          class="inline-flex p-6 items-start gap-7 rounded-full bg-gray-100 backdrop-blur-2xl"
        >
          <a
            [routerLink]="['/about']"
            routerLinkActive="router-link-active"
            class="text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
            >About us</a
          >
          <div class="relative group">
            <a
              routerLinkActive="router-link-active"
              class="text-gray-0 group-hover:text-primary-100 whitespace-nowrap group transition-colors duration-200"
              >Services
              <svg
                class="w-6 h-6 mx-auto inline-block stroke-current group-hover:stroke-primary-100 transition-colors duration-200"
              >
                <use xlink:href="assets/icons/sprite.svg#chevron-down"></use>
              </svg>
            </a>
            <div
              class="absolute left-0 top-full pt-2 w-max opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200"
            >
              <div class="transition duration-150 ease-in-out">
                <div
                  class="bg-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden"
                >
                  <div class="py-1 pl-4 flex flex-col">
                    <div class="flex flex-row items-center">
                      <div class="">
                        <svg class="w-4 h-4 mx-auto">
                          <use
                            xlink:href="assets/icons/sprite.svg#triangle"
                          ></use>
                        </svg>
                      </div>
                      <a
                        [routerLink]="['/services']"
                        class="block px-4 py-2 text-sm text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
                        >We are designing</a
                      >
                    </div>
                    <div class="flex flex-row items-center">
                      <div class="">
                        <svg class="w-4 h-4 mx-auto">
                          <use
                            xlink:href="assets/icons/sprite.svg#triangle"
                          ></use>
                        </svg>
                      </div>
                      <a
                        [routerLink]="['/services/automotive']"
                        class="block px-4 py-2 text-sm text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
                        >Automotive Software Development</a
                      >
                    </div>
                    <div class="flex flex-row items-center">
                      <div class="">
                        <svg class="w-4 h-4 mx-auto">
                          <use
                            xlink:href="assets/icons/sprite.svg#triangle"
                          ></use>
                        </svg>
                      </div>
                      <a
                        [routerLink]="['/services/fintech']"
                        class="block px-4 py-2 text-sm text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
                        >Fintech Software Development</a
                      >
                    </div>
                    <div class="flex flex-row items-center">
                      <div class="">
                        <svg class="w-4 h-4 mx-auto">
                          <use
                            xlink:href="assets/icons/sprite.svg#triangle"
                          ></use>
                        </svg>
                      </div>
                      <a
                        [routerLink]="['/services/artificial-intelligence']"
                        class="block px-4 py-2 text-sm text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
                        >AI & ML Consulting</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            routerLink="/expertise"
            routerLinkActive="router-link-active"
            class="text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
            >Expertise</a
          >
          <a
            routerLink="/cases"
            routerLinkActive="router-link-active"
            class="text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
            >Cases</a
          >
          <a
            routerLink="/contacts"
            class="text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
            >Contacts</a
          >
          <ng-container *ngIf="user$ | async as user">
            <a
              routerLink="/blog"
              class="text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
              >Blog</a
            >
            <a
              routerLink="/vacancies"
              class="text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200"
              >Vacancies</a
            >
            <a
              (click)="onLogout()"
              class="text-gray-0 hover:text-primary-100 whitespace-nowrap transition-colors duration-200 cursor-pointer"
              >Log out</a
            >
          </ng-container>
        </div>
      </nav>

      <!-- Mobile burger button -->
      <div class="md:hidden z-50">
        <button
          (click)="toggleMobileMenu()"
          class="text-gray-0 hover:text-primary-100 focus:outline-none"
        >
          @if (isMobileMenuOpen) {
          <app-icon name="close" size="medium" color="secondary"></app-icon>
          } @else {
          <app-icon name="burger" size="medium" color="secondary"></app-icon>
          }
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div
    [class.hidden]="!isMobileMenuOpen"
    class="fixed inset-0 bg-gray-100 z-40 md:hidden overflow-auto animate-fade-in-500"
  >
    <div class="h-full w-full flex items-start pt-24">
      <div class="w-full px-11 space-y-4">
        <a
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          (click)="closeMobileMenu()"
          class="block text-h6 text-gray-0 hover:text-primary-100 px-3 py-2"
          >About us</a
        >
        <div>
          <a class="flex items-start w-full text-h6 text-gray-0 px-3 py-2">
            Services
          </a>
          <div class="mt-2 ml-6 space-y-2">
            <div class="flex flex-row items-center gap-4">
              <div>
                <svg class="w-4 h-4 mx-auto">
                  <use xlink:href="assets/icons/sprite.svg#triangle"></use>
                </svg>
              </div>
              <a
                [routerLink]="['/services']"
                (click)="closeMobileMenu()"
                class="block text-main text-gray-0 hover:text-primary-100 py-1"
                >We are designing</a
              >
            </div>
            <div class="flex flex-row items-center gap-4">
              <div>
                <svg class="w-4 h-4 mx-auto">
                  <use xlink:href="assets/icons/sprite.svg#triangle"></use>
                </svg>
              </div>
              <a
                [routerLink]="['/services/automotive']"
                (click)="closeMobileMenu()"
                class="block text-main text-gray-0 hover:text-primary-100 py-1"
                >Automotive Software Development</a
              >
            </div>
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <svg class="w-4 h-4 mx-auto">
                  <use xlink:href="assets/icons/sprite.svg#triangle"></use>
                </svg>
              </div>
              <a
                [routerLink]="['/services/fintech']"
                (click)="closeMobileMenu()"
                class="block text-main text-gray-0 hover:text-primary-100 py-1"
                >Fintech Software Development</a
              >
            </div>
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <svg class="w-4 h-4 mx-auto">
                  <use xlink:href="assets/icons/sprite.svg#triangle"></use>
                </svg>
              </div>
              <a
                [routerLink]="['/services/artificial-intelligence']"
                (click)="closeMobileMenu()"
                class="block text-main text-gray-0 hover:text-primary-100 py-1"
                >AI & ML Consulting</a
              >
            </div>
          </div>
        </div>
        <a
          routerLink="/expertise"
          (click)="closeMobileMenu()"
          class="block text-h6 text-gray-0 hover:text-primary-100 px-3 py-2"
          >Expertise</a
        >
        <a
          routerLink="/cases"
          (click)="closeMobileMenu()"
          class="block text-h6 text-gray-0 hover:text-primary-100 px-3 py-2"
          >Cases</a
        >
        <ng-container *ngIf="user$ | async as user">
          <a
            routerLink="/blog"
            (click)="closeMobileMenu()"
            class="block text-h6 text-gray-0 hover:text-primary-100 px-3 py-2"
            >Blog</a
          >
          <a
            routerLink="/vacancies"
            (click)="closeMobileMenu()"
            class="block text-h6 text-gray-0 hover:text-primary-100 px-3 py-2"
            >Vacancies</a
          >
          <a
            (click)="onLogout()"
            class="block text-h6 text-gray-0 hover:text-primary-100 px-3 py-2 cursor-pointer"
            >Log out</a
          >
        </ng-container>
        <div
          class="pt-4 text-center"
          routerLink="/contacts"
          (click)="closeMobileMenu()"
        >
          <app-button type="green">Contact us</app-button>
        </div>
      </div>
    </div>
  </div>
</div>
