<section
  id="from-the-blog"
  class="mt-12 mb-14 md:mt-32 lg:mt-44 animate-fade-in"
>
  <h3 class="text-h5 md:text-h4 lg:text-h3">From the blog</h3>

  @defer { @if (posts$ | async; as posts) { @if (!posts.length) {
  <div class="flex justify-center items-center h-96">
    <p class="text-gray-40">No blog posts available</p>
  </div>
  } @else {
  <div class="flex flex-col lg:flex-row lg:gap-6">
    @for (post of posts; track post.id) {
    <article class="mt-6 group flex flex-col gap-6">
      @if (post.cardImgUrl) {
      <img
        [src]="post.cardImgUrl"
        [alt]="post.title"
        class="w-full h-[370px] object-cover object-left rounded-3xl"
        (click)="navigateToPost(post.slug)"
      />
      }

      <h4
        class="text-h6 md:text-h5 lg:text-h4 cursor-pointer hover:text-primary transition-colors"
        (click)="navigateToPost(post.slug)"
      >
        {{ post.title }}
      </h4>

      <p class="text-main text-gray-40 lg:text-h6">
        {{ post.subtitle }}
      </p>

      <div class="w-full sm:w-48">
        <app-button type="green" (click)="navigateToPost(post.slug)">
          Read more
        </app-button>
      </div>
    </article>
    }
  </div>
  } } } @loading (minimum 2s) {
  <app-loader></app-loader>
  }
</section>
