<section
  id="learn-more"
  class="flex flex-col items-center text-center my-10 lg:my-44 py-8 lg:py-14 animate-fade-in"
  onload="this.style.opacity='1'"
>
  <h3 class="text-h6 lg:text-h3">Learn more</h3>
  <p class="mt-6 text-main lg:text-h6 text-gray-50">
    Subcribe to IntreSmart Group Company to receive news.
  </p>
  <input
    type="email"
    id="email"
    name="email"
    autocomplete="email"
    placeholder="Your email address"
    required
    class="w-full max-w-[512px] mt-6 lg:mt-9 text-base"
  />
  <div class="w-52">
    <app-button class="mt-6">Subscribe</app-button>
  </div>
</section>
