@if (vacancies$ | async; as vacancies) { @defer { @if (isBrowser &&
!vacancies.length) {

<section id="no-vacancies" class="my-10 md:my-16 lg:my-32 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h4 lg:text-h3 mt-2 lg:mt-4">
    There are currently no new vacancies available
  </h2>
  <div class="w-full md:w-4/5 text-center mx-auto">
    <h6 class="mt-2 md:mt-4 lg:mt-6 text-main md:text-h6 text-gray-50">
      You can still stay connected with us by subscribing to our newsletter. By
      doing so, you will be among the first to know about future job openings,
      company updates, and valuable career advice.
    </h6>
  </div>
  <form
    class="flex flex-col gap-4 items-center mt-2 md:mt-4 lg:mt-6 text-base md:text-main"
  >
    <input
      type="email"
      id="email"
      name="email"
      autocomplete="email"
      placeholder="Your email address"
      required
      class="w-full max-w-[512px] mt-6 lg:mt-9 text-base"
    />
    <div class="w-52">
      <app-button [submit]="true" class="mt-6">Subscribe</app-button>
    </div>
  </form>
</section>

} @else {

<section id="vacancies" class="my-10 my:my-16 lg:my-32 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h4 lg:text-h3 mt-2 lg:mt-4">
    We are hiring! Join us
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-6">
    @for (vacancy of vacancies; track vacancy.id) {
    <div
      class="flex flex-col h-[388px] lg:h-[444px] justify-between p-4 rounded-2xl bg-gray-70 relative"
    >
      <div class="flex flex-col gap-4">
        <h4 class="text-main md:text-h6 lg:text-h5">{{ vacancy.title }}</h4>
        <p class="text base md:text-main">{{ vacancy.department }}</p>
      </div>
      <div class="flex flex-col gap-4">
        <p class="text-base md:text-main mt-4">Main requirements:</p>
        <ul class="mt-2 space-y-2 text-base md:text-main">
          @for (requirement of vacancy.description.requirements.slice(0,3);
          track $index) {
          <li
            class="text-main w-full text-nowrap overflow-hidden text-ellipsis"
          >
            <svg class="w-4 h-4 inline-block mr-2">
              <use xlink:href="assets/icons/sprite.svg#triangle"></use>
            </svg>
            {{ requirement }}
          </li>
          }
        </ul>
        <div class="max-w-44 mt-6">
          <app-button [routerLink]="['/vacancies', vacancy.slug]" type="green">
            Send CV
          </app-button>
        </div>
      </div>
    </div>
    }
  </div>
</section>
} } }
