<section id="automotive-intro" class="mt-6 md:mt-12 lg:mt-20 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h3 lg:text-h2 mt-2 lg:mt-4">
    We transform
    <div class="inline-block invisible sm:visible"><br /></div>
    automotive mobility
  </h2>
  <h6
    class="mt-2 md:mt-4 lg:mt-6 text-main md:text-h6 text-gray-50 w-full sm:w-3/4"
  >
    Accelerating the transformation to software-defined vehicles. Your
    full-service technology partner that provides strategic advice as well as
    solution design and delivery excellence.
  </h6>
  <div class="flex flex-row gap-4 items-start mt-2 md:mt-4 lg:mt-6">
    <div class="w-72"><app-button>Request a quote</app-button></div>
    <app-arrow-button></app-arrow-button>
  </div>
</section>

<section id="benefits" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <h3 class="text-h6 md:text-h4 lg:text-h3">
    Your partner in software-defined vehicles
  </h3>
  <div class="flex flex-col gap-10 mt-10">
    <div class="flex flex-row gap-6">
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 lg:w-32 lg:h-32 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          01
        </div>
      </div>
      <p class="text-h6 flex items-center">
        Automakers face increased competition from disruptors. As a result,
        they’re redesigning everything about their organizations by shifting
        their strategies to software-defined and competing for engineering
        talent.
      </p>
    </div>
    <div class="flex flex-row gap-6">
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 lg:w-32 lg:h-32 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          02
        </div>
      </div>
      <p class="text-h6 flex items-center">
        Our expertise spans all categories vehicle innovators need to succeed in
        a fast-paced, digitally transformed world no matter what vehicle
        transformation — Autonomous, Connected, Digital Cockpit, Electric,
        System Testing and Validation, User Experience, Automotive Software
        Platforms, and Automotive Advisory. We are the turnkey, future-ready
        software solution team.
      </p>
    </div>
    <div class="flex flex-row gap-6">
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 lg:w-32 lg:h-32 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          03
        </div>
      </div>
      <p class="text-h6 flex items-center">
        Our global presence and near-shore capabilities answer all our
        customers’ needs for talent and we help achieve true software
        independence.
      </p>
    </div>
  </div>
</section>

<section id="provide" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <h3 class="text-h6 md:text-h4 lg:text-h3">Services We Provide</h3>
  <div
    class="flex flex-col gap-4 md:grid md:grid-cols-2 md:grid-rows-2 mt-6 md:mt-8 lg:mt-12"
  >
    <div
      class="flex flex-row items-center gap-2 md:gap-4 lg:gap-6 h-[304px] rounded-2xl bg-gray-80 border border-gray-5 py-4 md:py-6 lg:py-8 px-4 lg:px-6"
    >
      <div>
        <svg class="w-14 h-14 lg:w-32 lg:h-32">
          <use xlink:href="assets/icons/sprite.svg#core"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-h6 lg:text-h5">Digital Cockpit</h5>
        <p class="text-base lg:text-main text-gray-50">
          Make your customers safe and happy by turning their vehicles into
          intelligent digital companions that allow them to intuitively engage
          with the vehicle by means of human-machine interface (HMI) solutions
        </p>
      </div>
    </div>
    <div
      class="flex flex-row items-center gap-2 md:gap-4 lg:gap-6 h-[304px] rounded-2xl bg-gray-80 border border-gray-5 py-4 md:py-6 lg:py-8 px-4 lg:px-6"
    >
      <div>
        <svg class="w-14 h-14 lg:w-32 lg:h-32">
          <use xlink:href="assets/icons/sprite.svg#speedometr"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-h6 lg:text-h5">Autonomous driving & ADAS</h5>
        <p class="text-base lg:text-main text-gray-50">
          Steer towards the future of automated, adaptive, and reliable vehicle
          systems for safer, more comfortable, and predictable driving with
          autonomous driving and ADAS engineering services
        </p>
      </div>
    </div>
    <div
      class="flex flex-row items-center gap-2 md:gap-4 lg:gap-6 h-[304px] rounded-2xl bg-gray-80 border border-gray-5 py-4 md:py-6 lg:py-8 px-4 lg:px-6"
    >
      <div>
        <svg class="w-14 h-14 lg:w-32 lg:h-32">
          <use
            xlink:href="assets/icons/sprite.svg#artificial-intelligence"
          ></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-h6 lg:text-h5">Connected car</h5>
        <p class="text-base lg:text-main text-gray-50">
          Improve the in-car experience and develop new business models by
          leveraging and harnessing data thus connecting drivers and passengers
          to their preferred digital services
        </p>
      </div>
    </div>
    <div
      class="flex flex-row items-center gap-2 md:gap-4 lg:gap-6 h-[304px] rounded-2xl bg-gray-80 border border-gray-5 py-4 md:py-6 lg:py-8 px-4 lg:px-6"
    >
      <div>
        <svg class="w-14 h-14 lg:w-32 lg:h-32">
          <use xlink:href="assets/icons/sprite.svg#scenario"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-h6 lg:text-h5">Vehicle Motion & Energy</h5>
        <p class="text-base lg:text-main text-gray-50">
          We are developing powertrain, chassis, and charging functions, built
          on a high-performance computing platform. These applications take care
          of driving dynamics and optimized charging, as well as predictive
          maintenance.
        </p>
      </div>
    </div>
  </div>
</section>

<app-want-to-work></app-want-to-work>

<section id="provide" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <h3 class="text-h6 md:text-h4 lg:text-h3">
    We build a software platform which changes your car experience.
  </h3>
  <div
    class="flex flex-col flex-wrap md:flex-row gap-4 md:gap-6 mt-4 md:mt-6 lg:mt-10"
  >
    <div
      class="flex flex-row justify-between gap-4 items-center p-4 rounded-2xl bg-gray-80 max-w-72"
    >
      <p class="text-main lg:text-h6">Your car will be your chauffeur</p>
      <div class="flex items-center">
        <svg class="w-20 h-20">
          <use xlink:href="assets/icons/sprite.svg#user-centered"></use>
        </svg>
      </div>
    </div>
    <div
      class="flex flex-row justify-between gap-4 items-center p-4 rounded-2xl bg-gray-80 max-w-[278px]"
    >
      <p class="text-main lg:text-h6">Your car will park itself</p>
      <div class="flex items-center">
        <svg class="w-20 h-20">
          <use xlink:href="assets/icons/sprite.svg#brain"></use>
        </svg>
      </div>
    </div>
    <div
      class="flex flex-row justify-between gap-4 items-center p-4 rounded-2xl bg-gray-80 sm:max-w-[278px]"
    >
      <p class="text-main lg:text-h6">Your car anticipates your wishes</p>
      <div class="flex items-center">
        <svg class="w-20 h-20">
          <use xlink:href="assets/icons/sprite.svg#satisfied"></use>
        </svg>
      </div>
    </div>
    <div
      class="flex flex-row justify-between gap-4 items-center p-4 rounded-2xl bg-gray-80 max-w-[278px]"
    >
      <p class="text-main lg:text-h6">Your ride becomes safer wishes</p>
      <div class="flex items-center">
        <svg class="w-20 h-20">
          <use xlink:href="assets/icons/sprite.svg#core"></use>
        </svg>
      </div>
    </div>
  </div>
</section>

<section id="partners" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <h3 class="text-h6 md:text-h4 lg:text-h3">Our clients and partners</h3>
  <div class="flex flex-wrap flex-row gap-4 md:gap-6 mt-4 md:mt-6 lg:mt-10">
    <div
      class="flex items-center p-4 rounded-3xl w-[136px] h-[97px] sm:w-[279px] sm:h-[199px] bg-slate-50"
      style="
        background: url('https://firebasestorage.googleapis.com/v0/b/intresmart-cd37f.appspot.com/o/clients%2Fbmw.png?alt=media&token=f84397a8-fc6f-4aaf-840b-6ef40152c0dc')
          lightgray 50% / cover no-repeat;
      "
    ></div>
    <div
      class="flex items-center p-4 rounded-3xl w-[136px] h-[97px] sm:w-[279px] sm:h-[199px] bg-slate-50"
      style="
        background: url('https://firebasestorage.googleapis.com/v0/b/intresmart-cd37f.appspot.com/o/clients%2Fcariad.png?alt=media&token=dbba8f3b-79e2-485b-82e0-b18721170520')
          lightgray 50% / cover no-repeat;
      "
    ></div>
    <div
      class="flex items-center p-4 rounded-3xl w-[136px] h-[97px] sm:w-[279px] sm:h-[199px] bg-slate-50"
      style="
        background: url('https://firebasestorage.googleapis.com/v0/b/intresmart-cd37f.appspot.com/o/clients%2Fvw.png?alt=media&token=9fc1cbf0-18c6-49b6-b904-24535f79efc4')
          lightgray 50% / cover no-repeat;
      "
    ></div>
    <div
      class="flex items-center p-4 rounded-3xl w-[136px] h-[97px] sm:w-[279px] sm:h-[199px] bg-slate-50"
      style="
        background: url('https://firebasestorage.googleapis.com/v0/b/intresmart-cd37f.appspot.com/o/clients%2Fbasemark.png?alt=media&token=3fa99ab4-8c05-43a5-93bd-f58ef81e7fff')
          lightgray 50% / cover no-repeat;
      "
    ></div>
  </div>
</section>

<section id="our-cases" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <div class="flex flex-row justify-between items-center">
    <div class="decorator w-1/5 lg:w-1/5"></div>
    <h3 class="text-h6 md:text-h5 lg:text-h3 w-1/2 text-center">Our cases</h3>
    <div class="decorator w-1/5 lg:w-1/5"></div>
  </div>
  <div class="flex flex-col gap-8 mt-8">
    <div
      class="flex flex-row gap-4 md:gap-12 lg:gap-20 p-4 md:p-6 lg:p-8 rounded-2xl bg-gray-80"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-14 h-14 lg:w-36 lg:h-36 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          01
        </div>
      </div>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col">
          <h4 class="text-h6 md:text-h5 lg:text-h4">LandLord</h4>
          <p class="text-main md:text-h6">UX Design</p>
        </div>
        <p class="text-main md:text-h6">
          The development of the UX design of the LandLord company's site by
          creating easy to use and frictionless user experience for the target
          audience.
        </p>
        <div class="w-48">
          <app-button type="green">Read more</app-button>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row gap-4 md:gap-12 lg:gap-20 p-4 md:p-6 lg:p-8 rounded-2xl bg-gray-80"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-14 h-14 lg:w-36 lg:h-36 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          02
        </div>
      </div>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col">
          <h4 class="text-h6 md:text-h5 lg:text-h4">Rocket Fit</h4>
          <p class="text-main md:text-h6">Graphic Design</p>
        </div>
        <p class="text-main md:text-h6">
          This fitness center asked us to re-brand their corporate identity. We
          have created a new logo, updated their website, and made it
          responsive.
        </p>
        <div class="w-48">
          <app-button type="green">Read more</app-button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-from-the-blog></app-from-the-blog>

<app-learn-more></app-learn-more>
