<section id="intro" class="animate-fade-in">
  <p
    class="text-sm lg:relative lg:top-20 lg:left-[516px] md:text-h6 lg:w-64 lg:inline-block"
  >
    Fintech Softweare Development Services
  </p>
  <h2 class="mt-2 text-h4 md:text-h3 lg:text-h2">We design</h2>
  <h2 class="w-full text-h4 md:text-h3 lg:text-h2">a future of Fintech</h2>
  <div
    class="flex flex-col gap-2 sm:gap-0 sm:flex-row sm:justify-between items-center w-full sm:max-w-[320px] mt-2 md:mt-6 lg:mt-8"
  >
    <div class="w-full sm:w-60">
      <app-button [routerLink]="['/contacts']"
        >Let’s discuss your project</app-button
      >
    </div>
    <div class="text-left w-full sm:w-14">
      <app-arrow-button [routerLink]="['/contacts']"></app-arrow-button>
    </div>
  </div>
</section>

<section id="guide" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <div class="flex flex-col gap-32">
    <h3 class="text-h6 sm:text-h5 md:text-h4 lg:text-h3 text-center">
      From ideation to deployment and beyond, we guide through the whole process
      of developing fintech products
    </h3>
    <div
      class="grid grid-rows-4 grid-cols-1 gap-6 md:grid-rows-2 md:grid-cols-2 lg:grid-rows-1 lg:grid-cols-4"
    >
      <div class="flex flex-col content-start gap-4 p-6 rounded-2xl bg-gray-80">
        <div>
          <svg class="w-28 h-28 lg:w-44 lg:h-44 mx-auto">
            <use xlink:href="assets/icons/sprite.svg#satisfied"></use>
          </svg>
        </div>
        <h6 class="text-gray-40 mt-12">Full-cycle development</h6>
        <p class="text-main text-gray-50 h-full flex items-end">
          With a product development process, companies can design, build and
          launch digital products with impact and scale.
        </p>
      </div>
      <div class="flex flex-col gap-4 p-6 rounded-2xl bg-gray-80">
        <div>
          <svg class="w-28 h-28 lg:w-44 lg:h-44">
            <use xlink:href="assets/icons/sprite.svg#presentations"></use>
          </svg>
        </div>
        <h6 class="text-gray-40 mt-12">Business analysis expertise</h6>
        <p class="text-main text-gray-50 h-full flex items-end">
          Business analysis expertise to create robust and regulatory-compliant
          finance solutions
        </p>
      </div>
      <div class="flex flex-col gap-4 p-6 rounded-2xl bg-gray-80">
        <div>
          <svg class="w-28 h-28 lg:w-44 lg:h-44 mx-auto">
            <use xlink:href="assets/icons/sprite.svg#people"></use>
          </svg>
        </div>
        <h6 class="text-gray-40 mt-12">Product management expertise</h6>
        <p class="text-main text-gray-50 h-full flex items-end">
          Product management to ensure a smooth business development of the
          product
        </p>
      </div>
      <div class="flex flex-col gap-4 p-6 rounded-2xl bg-gray-80">
        <div>
          <svg class="w-28 h-28 lg:w-44 lg:h-44 mx-auto">
            <use xlink:href="assets/icons/sprite.svg#architecture"></use>
          </svg>
        </div>
        <h6 class="text-gray-40 mt-12">Maitanance</h6>
        <p class="text-main text-gray-50 h-full flex items-end">
          Maintenance and modernization of existing software to enhance core
          business processes
        </p>
      </div>
    </div>

    <h3 class="text-h6 sm:text-h5 md:text-h4 lg:text-h3 text-center">
      Use our services to unlock the potential of your fintech product.
    </h3>
    <div
      class="grid grid-rows-3 grid-cols-1 gap-8 md:grid-rows-1 md:grid-cols-3"
    >
      <div class="flex flex-col gap-4 p-6 rounded-2xl bg-gray-80">
        <div>
          <svg class="w-28 h-28 lg:w-44 lg:h-44 mx-auto flex items-end">
            <use xlink:href="assets/icons/sprite.svg#investments"></use>
          </svg>
        </div>
        <h5 class="mt-8">Fintech Software Development</h5>
        <p class="text-main text-gray-50">
          We are creating a range of fintech programs from scratch - from
          digital banks to el- wallets
        </p>
      </div>
      <div class="flex flex-col gap-4 p-6 rounded-2xl bg-gray-80">
        <div>
          <svg class="w-28 h-28 lg:w-44 lg:h-44 mx-auto">
            <use xlink:href="assets/icons/sprite.svg#finances"></use>
          </svg>
        </div>
        <h5 class="mt-8">White Label Neobank</h5>
        <p class="text-main text-gray-50">
          Speed up the development of sophisticated, safe mobile banking
          services using the white-label solution.
        </p>
      </div>
      <div class="flex flex-col gap-4 p-6 rounded-2xl bg-gray-80">
        <div>
          <svg class="w-28 h-28 lg:w-44 lg:h-44 mx-auto">
            <use xlink:href="assets/icons/sprite.svg#cards"></use>
          </svg>
        </div>
        <h5 class="mt-8">Сore Payments Platform</h5>
        <p class="text-main text-gray-50">
          No need to start from scratch – we’ve done the heavy lifting so that
          you get a reliable foundation for your finance product.
        </p>
      </div>
    </div>
  </div>
  <div class="max-w-96 mx-auto mt-6 md:mt-12">
    <app-button [routerLink]="['/contacts']"
      >Start colaboration with us</app-button
    >
  </div>
</section>

<section id="go-to-market" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <div class="flex flex-col gap-8">
    <h3 class="text-h6 md:text-h4 lg:text-h3">
      Meet the market faster with a pre-built fintech solution constructor
    </h3>
    <h6 class="text-sm md:text-main lg:text-h6 md:w-2/3">
      With a wide range of pre-built features, combined with thoughtful
      customization and development with business needs in mind, you receive a
      solution with the functionality to jumpstart your online finance business
      or get digital without heavy upfront investment.
    </h6>
    <div class="flex flex-row gap-6">
      <div class="w-44">
        <app-button>Learn more</app-button>
      </div>
      <div class="text-left w-14">
        <app-arrow-button [routerLink]="['/contacts']"></app-arrow-button>
      </div>
    </div>
  </div>
</section>

<section id="design-process" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <div class="flex flex-row justify-between items-center">
    <div class="decorator w-1/5 lg:w-1/5"></div>
    <h3 class="text-h6 md:text-h5 lg:text-h3 w-1/2 text-center">
      Our projects
    </h3>
    <div class="decorator w-1/5 lg:w-1/5"></div>
  </div>
  <div
    class="flex flex-row gap-4 md:gap-12 lg:gap-20 p-4 md:p-6 lg:p-8 rounded-2xl bg-gray-80 mt-8"
  >
    <div class="flex items-center">
      <div
        class="flex flex-col w-14 h-14 lg:w-36 lg:h-36 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
      >
        01
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <div class="flex flex-col">
        <h4 class="text-h6 md:text-h5 lg:text-h4">LandLord</h4>
        <p class="text-main md:text-h6">UX Design</p>
      </div>
      <p class="text-main md:text-h6">
        The development of the UX design of the LandLord company's site by
        creating easy to use and frictionless user experience for the target
        audience.
      </p>
      <div class="w-48">
        <app-button type="green">Read more</app-button>
      </div>
    </div>
  </div>
</section>

<app-want-to-work></app-want-to-work>

<app-from-the-blog></app-from-the-blog>

<app-learn-more></app-learn-more>
