<header class="flex flex-col">
  <h2 class="text-h4 md:text-h3 lg:text-h2">Blog</h2>
  @if (isLoggedIn$ | async) {
  <div class="flex justify-between w-full items-center mt-6">
    <div class="w-72">
      <app-button [routerLink]="['/blog/add']"
        >Add new post
        <app-icon name="plus" size="small" color="secondary"></app-icon>
      </app-button>
    </div>
    <a [routerLink]="['/posts/archive']" style="text-decoration: underline"
      >Archive</a
    >
  </div>
  }
</header>
<div class="relative">
  <app-list-blogpost
    [posts]="(posts$ | async) || []"
    [isLoading]="isLoading$ | async"
    (onEdit)="onEditPost($event)"
    (onDelete)="onDeletePost($event)"
    (onArchive)="onArchivePost($event)"
  />
</div>

<section id="want-work-with-us">
  <app-want-to-work></app-want-to-work>
</section>
