<div class="flex flex-row justify-between items-center">
  <div class="decorator w-1/5"></div>
  <h3 class="w-1/3 text-center">Our cases</h3>
  <div class="decorator w-1/5"></div>
</div>
<div class="mt-20" *ngIf="cases$ | async as cases">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6">
    @if(cases && cases.length > 0) {
    <article class="flex flex-col gap-6 items-center w-full h-full">
      <p class="text-[38px]">{{ cases[0].homePage.title }}</p>
      <img
        src="{{ cases[0].homePage.imageUrl }}"
        alt="{{ cases[0].homePage.title }}"
        class="rounded-lg"
      />
    </article>
    <div class="flex flex-col gap-6">
      <article class="flex flex-col gap-6">
        <p class="text-[38px]">{{ cases[1].homePage.title }}</p>
        <div class="relative h-60 overflow-hidden rounded-lg">
          <img
            [src]="cases[1].homePage.imageUrl"
            [alt]="cases[1].homePage.title"
            class="absolute right-0 top-0 h-full w-full object-cover object-right"
          />
        </div>
      </article>
      <article class="flex flex-col gap-6">
        <p class="text-[38px]">{{ cases[2].homePage.title }}</p>
        <div class="relative h-60 overflow-hidden rounded-lg">
          <img
            [src]="cases[2].homePage.imageUrl"
            [alt]="cases[2].homePage.title"
            class="absolute right-0 top-0 h-full w-full object-cover object-right"
          />
        </div>
      </article>
      <div class="flex flex-col gap-8">
        <p class="text-[38px]">
          Explore our work and projects completed for our clients.
        </p>
        <app-button [routerLink]="['/cases']">View cases</app-button>
      </div>
    </div>
    }
  </div>
</div>
