<div>
  <h6>We are designing</h6>
  <h2 class="mt-4">Emotional</h2>
  <h6 class="text-gray-50">
    Human- centrad design: Behavior inteligence made visible
  </h6>
  <div class="flex justify-between items-center w-[283px] mt-9">
    <app-button width="196px">Request a quote</app-button>
    <app-arrow-button></app-arrow-button>
  </div>
</div>
<div class="mt-32">
  <h3>IntreSmart`s Smashing Ideas service</h3>
  <h5 class="text-end mt-4">
    <span class="text-primary-100">Read about</span> our outstanding company
    leader
  </h5>
</div>
