<div class="px-11 py-6 mt-20">
  <div class="container mx-auto max-w-[1200px] px-4 mb-32">
    <section id="intro">
      <h2>Designing</h2>
      <h1>The Future</h1>
      <div class="relative -top-44 right-96 text-h6 w-64 inline-block">
        IntreSmart Group Company
      </div>
      <p
        class="max-w-[778px] text-h6 text-gray-40 leading-[117.333%] tracking-[0.5px] mt-8"
      >
        We are a team of consultants, engineers, and creative minds who tackle
        corporate obstacles by devising cutting-edge technological solutions.
      </p>
      <div class="flex justify-between items-center w-[283px] mt-9">
        <app-button width="196px">Request a quote</app-button>
        <app-arrow-button></app-arrow-button>
      </div>
    </section>

    <section id="about" class="mt-28">
      <h3>About us</h3>
      <div class="mt-12 flex justify-between gap-32">
        <div class="flex-shrink-0">
          <img
            src="/assets/ceo.svg"
            alt="CEO"
            class="w-[182px] h-auto max-w-none"
          />
        </div>
        <div>
          <p class="text-h6 text-gray-50 mb-6">
            In 2020, Kyryl Hnapovskyi laid the first stone for launching
            IntreSmart. IntreSmart was founded during the Covid-19 pandemic. We
            knew it would be a long road, but our values were evident early on:
            at IntreSmart, we make social responsibility, trust, transparency,
            and a sense of beauty the basis for everything we do.
          </p>
          <app-button type="default" width="196px">More about us</app-button>
        </div>
      </div>
    </section>

    <section id="services" class="mt-32">
      <div class="flex justify-between items-center">
        <h3>Our services</h3>
        <app-arrow-button (click)="navigateToServices()"></app-arrow-button>
      </div>
      <div class="flex justify-between items-end content-end flex-wrap mt-11">
        <div class="flex flex-col w-1/2 p-6">
          <div class="w-full text-center">
            <svg class="w-44 mx-auto">
              <use xlink:href="assets/icons/sprite.svg#wave"></use>
            </svg>
          </div>
          <div class="mt-7">
            <h5 class="text-gray-10">Tech product engineering</h5>
            <p class="text-gray-50 mt-4 text-base">
              Automotive HMI design <span class="dot"></span> In-car IVI design
              <span class="dot"></span> UI/UX design
              <span class="dot"></span> Mobile app design
              <span class="dot"></span> Motion design
            </p>
          </div>
        </div>
        <div class="flex flex-col w-1/2 p-6">
          <div class="w-full text-center">
            <svg class="w-44 mx-auto">
              <use xlink:href="assets/icons/sprite.svg#triangle"></use>
            </svg>
          </div>
          <div class="mt-7">
            <h5 class="text-gray-10">All kinds of design services</h5>
            <p class="text-gray-50 mt-4 text-base">
              Automotive HMI design <span class="dot"></span> In-car IVI design
              <span class="dot"></span> UI/UX design
              <span class="dot"></span> Mobile app design
              <span class="dot"></span> Motion design
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="vlaues" class="mt-32">
      <h3>Our values</h3>
      <div class="flex mt-8 gap-6">
        <div class="w-1/3 min-w-20 p-6 flex flex-col justify-between">
          <h5 class="text-gray-10">
            Be transparent everywhere, always and with everyone
          </h5>
          <p class="text-gray-50 text-base mt-4">
            Be transparent in working with everyone: partners, colleagues,
            contactors. We strive to build an environment in which comfortable
            to create and grow.
          </p>
        </div>
        <div class="w-1/3 min-w-20 p-6 flex flex-col justify-between">
          <h5 class="text-gray-10">
            Do everything and for everyone with a sense of perfection.
          </h5>
          <p class="text-gray-50 text-base mt-4">
            Have a sense of excellence by creating innovative products. We
            strive to make technological solutions not only convenient in use,
            but also aesthetic.
          </p>
        </div>
        <div class="w-1/3 min-w-20 p-6 flex flex-col justify-between">
          <h5 class="text-gray-10">
            Be socially responsible for everything around
          </h5>
          <p class="text-gray-50 text-base mt-4">
            To be socially responsible for what is around. We believe that
            thanks to ourresponsibility, we make our city and Ukraine and the
            whole world better.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
