<section id="ai-intro" class="mt-6 md:mt-12 lg:mt-20 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h4 lg:text-h3 mt-2 lg:mt-4">
    Artificial Intelligence & Machine Learning Consulting Services
  </h2>
  <h6
    class="mt-2 md:mt-4 lg:mt-6 text-main md:text-h6 text-gray-50 w-full sm:w-3/4"
  >
    IntreSmart offers consulting services in artificial intelligence (AI) and
    machine learning (ML) software development to assist our clients in
    addressing complex business challenges. Our collaboration leads to the
    exploration of new opportunities in the field of AI that can significantly
    impact the future.
  </h6>
  <div class="flex flex-row gap-4 items-start mt-2 md:mt-4 lg:mt-6">
    <div class="w-72"><app-button>Request a quote</app-button></div>
    <app-arrow-button></app-arrow-button>
  </div>
</section>

<section id="provide" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <h3 class="text-h6 md:text-h4 lg:text-h3">Our Core Expertise</h3>
  <div class="flex flex-col gap-6 mt-6 md:mt-8 lg:mt-12">
    <div
      class="flex flex-row items-center gap-2 md:gap-4 lg:gap-6 rounded-2xl bg-gray-80 border border-gray-5 py-4 md:py-6 lg:py-8 px-4 lg:px-6"
    >
      <div class="self-start sm:self-center">
        <svg class="w-14 h-14 lg:w-32 lg:h-32">
          <use xlink:href="assets/icons/sprite.svg#brain-ml"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-h6 lg:text-h5">Machine learning</h5>
        <p class="text-base lg:text-main text-gray-50">
          At IntreSmart, we specialize in developing machine-learning software
          that utilizes self-learning algorithms. Our solutions are designed to
          minimize errors and maximize accuracy over time. By leveraging machine
          learning, our systems are capable of analyzing large amounts of data
          and gaining new insights without human intervention. This results in
          reliable and fast insights that enable businesses to make informed
          decisions.
        </p>
      </div>
    </div>
    <div
      class="flex flex-row items-center gap-2 md:gap-4 lg:gap-6 rounded-2xl bg-gray-80 border border-gray-5 py-4 md:py-6 lg:py-8 px-4 lg:px-6"
    >
      <div class="self-start sm:self-center">
        <svg class="w-14 h-14 lg:w-32 lg:h-32">
          <use xlink:href="assets/icons/sprite.svg#brain-ai"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-h6 lg:text-h5">Artificial intelligence</h5>
        <p class="text-base lg:text-main text-gray-50">
          As a leading artificial intelligence consulting firm, IntreSmart is
          well-equipped to identify potential opportunities for AI integration
          and remove obstacles to innovation. Our team of experts has extensive
          experience in applied AI and software development, enabling us to
          develop intelligent systems that automate human tasks with greater
          speed and cost-efficiency. Our solutions are designed to be accessible
          from anywhere, at any time, making it easier than ever for businesses
          to leverage the power of AI.
        </p>
      </div>
    </div>
    <div
      class="flex flex-row items-center gap-2 md:gap-4 lg:gap-6 rounded-2xl bg-gray-80 border border-gray-5 py-4 md:py-6 lg:py-8 px-4 lg:px-6"
    >
      <div class="self-start sm:self-center">
        <svg class="w-14 h-14 lg:w-32 lg:h-32">
          <use xlink:href="assets/icons/sprite.svg#structure"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-h6 lg:text-h5">Data mining</h5>
        <p class="text-base lg:text-main text-gray-50">
          At IntreSmart, we understand the challenges associated with working
          with dirty data, unstructured data, and hard-to-access data. That's
          why we offer data collection and analysis services designed to help
          you transform these troublesome data sources into valuable insights.
          Our team is skilled in collecting raw data, segmenting it, and
          delivering it in a suitable format that is easy to understand and use.
          With our help, you can make informed decisions based on reliable and
          accurate information.
        </p>
      </div>
    </div>
    <div
      class="flex flex-row items-center gap-2 md:gap-4 lg:gap-6 rounded-2xl bg-gray-80 border border-gray-5 py-4 md:py-6 lg:py-8 px-4 lg:px-6"
    >
      <div class="self-start sm:self-center">
        <svg class="w-14 h-14 lg:w-32 lg:h-32">
          <use xlink:href="assets/icons/sprite.svg#atom"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-h6 lg:text-h5">Data science</h5>
        <p class="text-base lg:text-main text-gray-50">
          IntreSmart offers top-notch data science services designed to help our
          clients identify patterns in their data and extract meaningful
          insights through advanced statistical methods. Our big data
          specialists are skilled in a range of tasks, including data
          collection, data processing, building predictive models with machine
          learning algorithms, and deployment. With our help, you can gain a
          deeper understanding of your data and use it to make informed
          decisions that drive business growth.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="use-cases" class="mt-10 md:mt-16 lg:mt-32 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h4 lg:text-h3 mt-2 lg:mt-4">
    Use cases our AI & ML consulting company handles
  </h2>
  <h6
    class="mt-2 md:mt-4 lg:mt-6 text-main md:text-h6 text-gray-50 w-full sm:w-3/4"
  >
    At our AI and machine learning consulting company, we carefully evaluate and
    implement these technologies only when they are truly needed. We draw on our
    extensive experience to recommend the best approach for tackling problems
    that can be effectively solved using AI and ML. Here are some examples of
    applications where we have the necessary expertise
  </h6>
  <div class="flex flex-row gap-4 items-start mt-2 md:mt-4 lg:mt-6">
    <div class="w-44"><app-button type="green">Contact us</app-button></div>
    <app-arrow-button type="green"></app-arrow-button>
  </div>
</section>

<section id="expertize" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <div
    class="flex flex-col md:grid gap-4 md:gap-6 md:grid-cols-2 md:grid-rows-3"
  >
    <div class="flex flex-col gap-8 p-6 rounded-2xl bg-gray-80">
      <div>
        <svg class="w-14 h-14 md:w-32 md:h-32 lg:w-44 lg:h-44 mx-auto">
          <use xlink:href="assets/icons/sprite.svg#atom"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-main md:text-h6 lg:text-h5">RECOMMENDER SYSTEMS</h5>
        <p class="text-base md:text-main text-gray-50">
          A recommendation engine can be likened to an astute salesperson who
          has a deep understanding of your customers' preferences and recommends
          products that they are more likely to benefit from. At our AI and
          machine learning consulting company, we have the expertise to design
          and implement recommendation systems for a range of industries,
          including automotive, finance, and media.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-8 p-6 rounded-2xl bg-gray-80">
      <div>
        <svg class="w-14 h-14 md:w-32 md:h-32 lg:w-44 lg:h-44 mx-auto">
          <use xlink:href="assets/icons/sprite.svg#connect"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-main md:text-h6 lg:text-h5">IMAGE RECOGNITION</h5>
        <p class="text-base md:text-main text-gray-50">
          With the assistance of neural networks and machine learning, it is
          conceivable to impart impressive functionality to products that
          involve analyzing images. This includes the ability to perform
          searches on pictures, filter out hazardous user-generated content, and
          make recommendations on purchasing based on taken photos.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-8 p-6 rounded-2xl bg-gray-80">
      <div>
        <svg class="w-14 h-14 md:w-32 md:h-32 lg:w-44 lg:h-44 mx-auto">
          <use xlink:href="assets/icons/sprite.svg#magnet"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-main md:text-h6 lg:text-h5">
          IDENTIFY WHAT HUMANS ARE TALKING ABOUT
        </h5>
        <p class="text-base md:text-main text-gray-50">
          The common use case for NLP technology is a text-only interface or a
          spoken dialog system that can answer a human request. But we also use
          NLP to understand what customers think about your products, extract
          information about companies or people from news articles, generate
          short descriptions of text documents, and more.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-8 p-6 rounded-2xl bg-gray-80">
      <div>
        <svg class="w-14 h-14 md:w-32 md:h-32 lg:w-44 lg:h-44 mx-auto">
          <use xlink:href="assets/icons/sprite.svg#scenario"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-main md:text-h6 lg:text-h5">FRAUD DETECTION</h5>
        <p class="text-base md:text-main text-gray-50">
          Every year, the cost of credit card fraud totals up to billions of
          dollars. So why put your trust in human-generated rule sets for
          detecting fraud when we can help you take advantage of machine
          learning to detect fraudulent and abnormal financial activity? Our
          fraud detection system is designed to perform thorough analytics and
          deliver real-time risk scores with a high degree of accuracy.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-8 p-6 rounded-2xl bg-gray-80">
      <div>
        <svg class="w-14 h-14 md:w-32 md:h-32 lg:w-44 lg:h-44 mx-auto">
          <use xlink:href="assets/icons/sprite.svg#people"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-main md:text-h6 lg:text-h5">PREDICTIVE ANALYTICS</h5>
        <p class="text-base md:text-main text-gray-50">
          Acquiring predictive analytics capabilities allows us to make informed
          predictions regarding various scenarios. This includes being able to
          determine the likelihood of a debtor paying back their debt, which
          prospects are more likely to take action, which product a customer
          will be more inclined to click on, or the probability of a specific
          illness.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-8 p-6 rounded-2xl bg-gray-80">
      <div>
        <svg class="w-14 h-14 md:w-32 md:h-32 lg:w-44 lg:h-44 mx-auto">
          <use xlink:href="assets/icons/sprite.svg#satisfied"></use>
        </svg>
      </div>
      <div class="flex flex-col gap-4">
        <h5 class="text-main md:text-h6 lg:text-h5">PERSONAL ASSISTANTS</h5>
        <p class="text-base md:text-main text-gray-50">
          Personal assistants powered by AI are capable of scheduling meetings,
          booking flight tickets, saving you money, providing fashion advice for
          a night out, and even keeping you company when you feel lonely. These
          assistants are not human, but rather, they are powered by advanced
          artificial intelligence technology. At our company, we can help you
          create a personal assistant.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="use-cases" class="mt-10 md:mt-16 lg:mt-32 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h4 lg:text-h3 mt-2 lg:mt-4">
    Machine learning development at a glance
  </h2>
  <h6
    class="mt-2 md:mt-4 lg:mt-6 text-main md:text-h6 text-gray-50 w-full sm:w-3/4"
  >
    Our team is equipped to manage the entire gamut of project development,
    commencing from the analysis of requirements to delivering an
    all-encompassing solution. Our crew of data science professionals and
    machine learning consultants possess extensive practical know-how with
    regards to programming languages such as R/Python, in addition to being
    adept with data science tools like Apache Spark, Hadoop, and Scikit-Learn.
    Moreover, they possess expertise in deep learning frameworks such as
    Tensorflow, Keras and PyTorch. Would you like to learn more about our modus
    operandi?
  </h6>
  <div class="flex flex-row gap-4 items-start mt-2 md:mt-4 lg:mt-6">
    <div class="w-44"><app-button type="green">Contact us</app-button></div>
    <app-arrow-button type="green"></app-arrow-button>
  </div>
</section>

<section id="work-process" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <div class="flex flex-col">
    <div class="flex flex-row group">
      <div class="flex flex-col items-center">
        <span
          class="py-2 px-4 rounded-[100px] md:w-[68px] md:h-[50px] md:text-[30px] md:leading-[117%] md:px-[15px] md:py-[7px] md:rounded-[94px] text-gray-5 text-center bg-gradient-custom transition-all duration-450 group-hover:bg-primary-100 relative z-10"
          >01</span
        >
        <div
          class="h-full w-[1px] bg-gray-75 relative top-0 bottom-0 left-0 transform -translate-x-1/2 group-hover:bg-primary-100 transition-all duration-450"
        ></div>
      </div>
      <div
        class="px-6 pb-6 pt-2 m-0 lg:px-6 md:pb-16 lg:pb-28 lg:mr-14 lg:ml-6"
      >
        <h4
          class="text-main md:text-h6 lg:text-h4 text-gray-50 group-hover:text-gray-0 transition-all duration-450"
        >
          Assessment
        </h4>
        <p class="text-base md:text-main lg:text-xl text-gray-50 mt-4">
          Our team will undertake a thorough investigation of the issue at hand
          in order to assess whether or not it necessitates the implementation
          of a machine learning solution. Conversely, in the event that we
          determine that a machine learning solution is not required, we will
          spare you valuable time and resources by refraining from implementing
          AI.
        </p>
      </div>
    </div>
    <div class="flex flex-row group">
      <div class="flex flex-col items-center">
        <span
          class="py-2 px-4 rounded-[100px] md:w-[68px] md:h-[50px] md:text-[30px] md:leading-[117%] md:px-[15px] md:py-[7px] md:rounded-[94px] text-gray-5 text-center bg-gradient-custom transition-all duration-450 group-hover:bg-primary-100 relative z-10"
          >02</span
        >
        <div
          class="h-full w-[1px] bg-gray-75 relative top-0 bottom-0 left-0 transform -translate-x-1/2 group-hover:bg-primary-100 transition-all duration-450"
        ></div>
      </div>
      <div
        class="px-6 pb-6 pt-2 m-0 lg:px-6 md:pb-16 lg:pb-28 lg:mr-14 lg:ml-6"
      >
        <h4
          class="text-main md:text-h6 lg:text-h4 text-[45px] text-gray-50 group-hover:text-gray-0 transition-all duration-450"
        >
          Exploration
        </h4>
        <p class="text-base md:text-main lg:text-xl text-gray-50 mt-4">
          It is plausible that you have a substantial amount of data at your
          disposal that is ready to be collected and analyzed. However, if this
          is not the case, we will endeavor to obtain the requisite data from
          online sources, if possible. Subsequently, we will process the
          acquired data in order to uncover and analyze any patterns and
          correlations that may be present.
        </p>
      </div>
    </div>
    <div class="flex flex-row group">
      <div class="flex flex-col items-center">
        <span
          class="py-2 px-4 rounded-[100px] md:w-[68px] md:h-[50px] md:text-[30px] md:leading-[117%] md:px-[15px] md:py-[7px] md:rounded-[94px] text-gray-5 text-center bg-gradient-custom transition-all duration-450 group-hover:bg-primary-100 relative z-10"
          >03</span
        >
        <div
          class="h-full w-[1px] bg-gray-75 relative top-0 bottom-0 left-0 transform -translate-x-1/2 group-hover:bg-primary-100 transition-all duration-450"
        ></div>
      </div>
      <div
        class="px-6 pb-6 pt-2 m-0 lg:px-6 md:pb-16 lg:pb-28 lg:mr-14 lg:ml-6"
      >
        <h4
          class="text-main md:text-h6 lg:text-h4 text-[45px] text-gray-50 group-hover:text-gray-0 transition-all duration-450"
        >
          Modeling
        </h4>
        <p class="text-base md:text-main lg:text-xl text-gray-50 mt-4">
          After ensuring that the collected data is of satisfactory quality, we
          will proceed with the most exhilarating aspect of our services -
          learning model development. This process typically entails a great
          deal of experimentation and discovery, with our team iterating and
          refining the algorithm until it yields exceptional results.
        </p>
      </div>
    </div>
    <div class="flex flex-row group">
      <div class="flex flex-col items-center">
        <span
          class="py-2 px-4 rounded-[100px] md:w-[68px] md:h-[50px] md:text-[30px] md:leading-[117%] md:px-[15px] md:py-[7px] md:rounded-[94px] text-gray-5 text-center bg-gradient-custom transition-all duration-450 group-hover:bg-primary-100 relative z-10"
          >04</span
        >
        <div
          class="h-full w-[1px] bg-gray-75 relative top-0 bottom-0 left-0 transform -translate-x-1/2 group-hover:bg-primary-100 transition-all duration-450"
        ></div>
      </div>
      <div class="px-6 pb-6 pt-2 m-0 lg:px-6 md:pb-16 lg:pb-28 lg:mr-14 lgml-6">
        <h4
          class="text-main md:text-h6 lg:text-h4 text-[45px] text-gray-50 group-hover:text-gray-0 transition-all duration-450"
        >
          Productization
        </h4>
        <p class="text-base md:text-main lg:text-xl text-gray-50 mt-4">
          Upon obtaining definitive evidence that our prototype model is capable
          of effectively addressing your business problem, we will proceed with
          launching it in production. Our team will work towards integrating the
          model with your existing application and will provide you with
          comprehensive support services to ensure that it functions seamlessly
          across broader or different data sets.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="our-cases" class="my-12 md:my-32 lg:my-44 animate-fade-in">
  <div class="flex flex-row justify-between items-center">
    <div class="decorator w-1/5 lg:w-1/5"></div>
    <h3 class="text-h6 md:text-h5 lg:text-h3 w-1/2 text-center">Our cases</h3>
    <div class="decorator w-1/5 lg:w-1/5"></div>
  </div>
  <div class="flex flex-col gap-8 mt-8">
    <div
      class="flex flex-row gap-4 md:gap-12 lg:gap-20 p-4 md:p-6 lg:p-8 rounded-2xl bg-gray-80"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-14 h-14 lg:w-36 lg:h-36 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          01
        </div>
      </div>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col">
          <h4 class="text-h6 md:text-h5 lg:text-h4">LandLord</h4>
          <p class="text-main md:text-h6">UX Design</p>
        </div>
        <p class="text-main md:text-h6">
          The development of the UX design of the LandLord company's site by
          creating easy to use and frictionless user experience for the target
          audience.
        </p>
        <div class="max-w-48">
          <app-button type="green">Read more</app-button>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row gap-4 md:gap-12 lg:gap-20 p-4 md:p-6 lg:p-8 rounded-2xl bg-gray-80"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-14 h-14 lg:w-36 lg:h-36 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          02
        </div>
      </div>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col">
          <h4 class="text-h6 md:text-h5 lg:text-h4">Rocket Fit</h4>
          <p class="text-main md:text-h6">Graphic Design</p>
        </div>
        <p class="text-main md:text-h6">
          This fitness center asked us to re-brand their corporate identity. We
          have created a new logo, updated their website, and made it
          responsive.
        </p>
        <div class="max-w-48">
          <app-button type="green">Read more</app-button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="development" class="mt-10 md:mt-16 lg:mt-32 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h4 lg:text-h3 mt-2 lg:mt-4">
    Machine learning development at a glance
  </h2>
  <h6
    class="mt-2 md:mt-4 lg:mt-6 text-main md:text-h6 text-gray-50 w-full sm:w-3/4"
  >
    At our AI and machine learning consulting company, we carefully evaluate and
    implement these technologies only when they are truly needed. We draw on our
    extensive experience to recommend the best approach for tackling problems
    that can be effectively solved using AI and ML. Here are some examples of
    applications where we have the necessary expertise
  </h6>
  <app-development-cards></app-development-cards>
</section>

<app-from-the-blog></app-from-the-blog>

<app-learn-more></app-learn-more>
