<section id="automotive-intro" class="mt-6 md:mt-12 lg:mt-20 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h3 lg:text-h2 mt-2 lg:mt-4">
    Software for constructing a financial technology solution
  </h2>
  <h6
    class="mt-2 md:mt-4 lg:mt-6 text-main md:text-h6 text-gray-50 w-full sm:w-3/4"
  >
    White-label Mobile-first bank solution
  </h6>
  <div class="flex flex-row gap-4 items-start mt-2 md:mt-4 lg:mt-6">
    <div class="w-80"><app-button>Let`s discuss your project</app-button></div>
    <app-arrow-button></app-arrow-button>
  </div>
</section>

<section id="construct" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <h3 class="text-h6 md:text-h4 lg:text-h3">
    Construct a superior fintech product in a timely manner.
  </h3>
  <div
    class="flex flex-col gap-2 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-4 lg:grid-cols-4 lg:grid-rows-1 lg:gap-6 p-4 mt-4 md:mt-6 lg:mt-10"
  >
    <div
      class="flex flex-col gap-4 justify-center items-center p-4 rounded-2xl bg-gray-80"
    >
      <h6 class="text-gray-40 flex self-start">Development cycle shortcut</h6>
      <p class="text-main text-gray-50 flex self-start">
        Get your financial product up and running faster
      </p>
    </div>
    <div
      class="flex flex-col gap-4 justify-center items-center p-4 rounded-2xl bg-gray-80"
    >
      <h6 class="text-gray-40 flex self-start">High-level security</h6>
      <p class="text-main text-gray-50 flex self-start">
        Develop a product that does not have any loopholes in security on any
        level
      </p>
    </div>
    <div
      class="flex flex-col gap-4 justify-center items-center p-4 rounded-2xl bg-gray-80"
    >
      <h6 class="text-gray-40 flex self-start">Save time and resources</h6>
      <p class="text-main text-gray-50 flex self-start">
        Craft your solution in a timely manner with pre-built functionality
      </p>
    </div>
    <div
      class="flex flex-col gap-4 justify-center items-center p-4 rounded-2xl bg-gray-80"
    >
      <h6 class="text-gray-40 flex self-start">Diverse functionality</h6>
      <p class="text-main text-gray-50 flex self-start">
        Combine a wide range of features to jumpstart finance solution
      </p>
    </div>
  </div>
</section>

<section id="potencial" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <h3 class="text-h6 md:text-h4 lg:text-h3">
    Use our services to unlock the potential of your fintech product.
  </h3>
  <div
    class="flex flex-auto flex-col gap-2 justify-between md:flex-row md:gap-4 lg:gap-6 p-4 mt-4 md:mt-6 lg:mt-10"
  >
    <div
      class="flex flex-col gap-4 justify-center items-center p-4 rounded-2xl bg-gray-80"
    >
      <h6 class="text-gray-40 flex self-start">Fintech Software Development</h6>
      <p class="text-main text-gray-50 flex self-start">
        We are creating a range of fintech programs from scratch - from digital
        banks to el- wallets
      </p>
    </div>
    <div
      class="flex flex-col gap-4 justify-center items-center p-4 rounded-2xl bg-gray-80"
    >
      <h6 class="text-gray-40 flex self-start">White Label Neobank</h6>
      <p class="text-main text-gray-50 flex self-start">
        Speed up the development of sophisticated, safe mobile banking services
        using the white-label solution.
      </p>
    </div>
    <div
      class="flex flex-col gap-4 justify-center items-center p-4 rounded-2xl bg-gray-80"
    >
      <h6 class="text-gray-40 flex self-start">Сore Payments Platform</h6>
      <p class="text-main text-gray-50 flex self-start">
        No need to start from scratch – we’ve done the heavy lifting so that you
        get a reliable foundation for your finance product.
      </p>
    </div>
  </div>
  <div class="w-full mt-4 md:mt-6 lg:mt-10">
    <div class="max-w-72 mx-auto">
      <app-button type="green">Start collaboration with us</app-button>
    </div>
  </div>
</section>

<section id="meet-the-market" class="mt-10 md:mt-16 lg:mt-32 animate-fade-in">
  <div class="decorator w-32 md:w-36 lg:w-44"></div>
  <h2 class="text-h6 md:text-h4 lg:text-h3 mt-2 lg:mt-4">
    Meet the market faster with a pre-built fintech solution constructor.
  </h2>
  <h6
    class="mt-2 md:mt-4 lg:mt-6 text-main md:text-h6 text-gray-50 w-full sm:w-3/4"
  >
    With a wide range of pre-built features, combined with thoughtful
    customization and development with business needs in mind, you receive a
    solution with the functionality to jumpstart your online finance business or
    get digital without heavy upfront investment.
  </h6>
  <div class="max-w-72 mt-2 md:mt-6 lg:mt-6">
    <app-button>Learn more</app-button>
  </div>
</section>

<section id="innovation" class="mt-12 md:mt-32 lg:mt-44 animate-fade-in">
  <h3 class="text-h6 md:text-h4 lg:text-h3">
    Driving the innovation in fintech.
  </h3>
  <div
    class="grid grid-cols-1 grid-rows-8 gap-2 md:gap-4 lg:gap-6 md:grid-cols-3 md:grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 mt-4 md:mt-6 lg:mt-10 rounded-2xl bg-gray-80"
  >
    <div
      class="flex gap-4 shrink-0 h-24 lg:h-32 items-center p-4 rounded-2xl bg-gray-70"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 justify-center items-center text-[27px] rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          01
        </div>
      </div>
      <div class="w-full text-center">
        <p class="text-main lg:text-h6">AI/ML</p>
      </div>
    </div>
    <div
      class="flex gap-4 shrink-0 h-24 lg:h-32 items-center p-4 rounded-2xl bg-gray-70"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 justify-center items-center text-[27px] rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          02
        </div>
      </div>
      <div class="w-full text-center">
        <p class="text-main lg:text-h6">Smart contracts</p>
      </div>
    </div>
    <div
      class="flex gap-4 shrink-0 h-24 lg:h-32 items-center p-4 rounded-2xl bg-gray-70"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 justify-center items-center text-[27px] rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          03
        </div>
      </div>
      <div class="w-full text-center">
        <p class="text-main lg:text-h6">Crypto</p>
      </div>
    </div>
    <div
      class="flex gap-4 shrink-0 h-24 lg:h-32 items-center p-4 rounded-2xl bg-gray-70"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 justify-center items-center text-[27px] rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          04
        </div>
      </div>
      <div class="w-full text-center">
        <p class="text-main lg:text-h6">NFT</p>
      </div>
    </div>
    <div
      class="flex gap-4 shrink-0 h-24 lg:h-32 items-center p-4 rounded-2xl bg-gray-70"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 justify-center items-center text-[27px] rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          05
        </div>
      </div>
      <div class="w-full text-center">
        <p class="text-main lg:text-h6">Cloud-computing</p>
      </div>
    </div>
    <div
      class="flex gap-4 shrink-0 h-24 lg:h-32 items-center p-4 rounded-2xl bg-gray-70"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 justify-center items-center text-[27px] rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          06
        </div>
      </div>
      <div class="w-full text-center">
        <p class="text-main lg:text-h6">DeFi</p>
      </div>
    </div>
    <div
      class="flex gap-4 shrink-0 h-24 lg:h-32 items-center p-4 rounded-2xl bg-gray-70"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 justify-center items-center text-[27px] rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          07
        </div>
      </div>
      <div class="w-full text-center">
        <p class="text-main lg:text-h6">Cybersecurity</p>
      </div>
    </div>
    <div
      class="flex gap-4 shrink-0 h-24 lg:h-32 items-center p-4 rounded-2xl bg-gray-70"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-12 h-12 justify-center items-center text-[27px] rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          08
        </div>
      </div>
      <div class="w-full text-center">
        <p class="text-main lg:text-h6">White label</p>
      </div>
    </div>
  </div>
</section>

<section id="our-cases" class="my-12 md:my-32 lg:my-44 animate-fade-in">
  <div class="flex flex-row justify-between items-center">
    <div class="decorator w-1/5 lg:w-1/5"></div>
    <h3 class="text-h6 md:text-h5 lg:text-h3 w-1/2 text-center">Our cases</h3>
    <div class="decorator w-1/5 lg:w-1/5"></div>
  </div>
  <div class="flex flex-col gap-8 mt-8">
    <div
      class="flex flex-row gap-4 md:gap-12 lg:gap-20 p-4 md:p-6 lg:p-8 rounded-2xl bg-gray-80"
    >
      <div class="flex items-center">
        <div
          class="flex flex-col w-14 h-14 lg:w-36 lg:h-36 justify-center items-center text-[27px] lg:text-7xl rounded-full border border-opacity-80 border-[#67F185] bg-gradient-to-b from-[#67F185]/80 to-[#84E0ED]/55 text-transparent bg-clip-text"
        >
          01
        </div>
      </div>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col">
          <h4 class="text-h6 md:text-h5 lg:text-h4">
            Chostbusters Virtual Reality
          </h4>
        </div>
        <p class="text-main md:text-h6">
          An immersive mobile virtual reality experience for Sony’s blockbuster
          franchise, Ghostbusters.
        </p>
        <div class="max-w-48">
          <app-button type="green">Read more</app-button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-want-to-work></app-want-to-work>

<app-from-the-blog></app-from-the-blog>

<app-learn-more></app-learn-more>
