<div class="px-11 py-6 mt-20">
  <div class="container mx-auto max-w-[1200px] px-4 mb-32">
    <section class="intro">
      <div class="decorator w-44"></div>
      <h2>Software for constructing a financial technology solution</h2>
      <p class="mt-6 mb-6 text-h6">White-label Mobile-first bank solution</p>
      <div class="flex justify-between items-center w-[381px]">
        <app-button width="309px">Let`s discuss your project</app-button>
        <app-arrow-button></app-arrow-button>
      </div>
    </section>
    <section class="constract" class="mt-32">
      <h3>Construct a superior fintech product in a timely manner.</h3>
    </section>
  </div>
</div>
