<section class="mt-12 md:mt-16 lg:mt-20 animate-fade-in">
  <div class="decorator w-44"></div>
  <h2 class="text-h4 md:text-h3 lg:text-h2 lg:mt-4">
    Software for constructing a financial technology solution
  </h2>
  <h6 class="mt-6 text-sm md:text-main lg:text-h6 text-gray-50">
    White-label Mobile-first bank solution
  </h6>
  <div
    class="flex justify-between gap-4 items-center max-w-[381px] mt-6 lg:mt-9"
  >
    <div class="w-72"><app-button>Let`s discuss your project</app-button></div>
    <app-arrow-button></app-arrow-button>
  </div>
</section>
<section class="constract" class="mt-32">
  <h3>Construct a superior fintech product in a timely manner.</h3>
</section>
